# Created by .ignore support plugin (hsz.mobi)

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ project files
.idea
*.iml
.gradle/
LICENSE.md
README.md
target/
